* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: #fff;
}

h1 {
    margin-bottom: 32px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#status {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 24px;
    color: #111;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 8px;
}

.cell.x-color {
    color: #354ab2;
}

.cell.o-color {
    color: #dd3745;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

#restart {
    margin-top: 32px;
    padding: 16px 24px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #111;
    color: #fff;
    font-weight: 800;
    border: none;
    border-radius: 4px;
}